<div class="wrapper">
  <h2 class="page-title">Currency exchange</h2>
  <div class="exchange-card">
    <div class="form-group">
      <label for="from" class="control-label">You pay</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <p-dropdown [options]="currencies" [(ngModel)]="from" optionLabel="code" placeholder="From">
            <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value"  *ngIf="from">
                    <img src="assets/flag_placeholder.png" [class]="'flag flag-' + from.code.toLowerCase()" />
                    <span>{{from.code}}</span>
                </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
                <div class="country-item">
                    <img src="assets/flag_placeholder.png" [class]="'flag flag-' + country.value.code.toLowerCase()" />
                    <span>{{country.value.code}}</span>
                </div>
            </ng-template>
          </p-dropdown>
        </div>
        <!-- <p-inputNumber inputId="integeronly" [(ngModel)]="amount"></p-inputNumber> -->
        <input type="number" id="from" class="form-control" [(ngModel)]="amount" (keyup)="onConvert()">
      </div>
    </div>
    <div class="exchange-rate">
      <div class="exchange-rate-card">
        <a href="privacy" class="exchange-rate-label">Exchange rate</a>
        <span class="exchange-rate-item">0.2384</span>
      </div>
    </div>
    <div class="form-group">
      <label for="to" class="control-label">Go Media will get</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <p-dropdown [options]="currencies" [(ngModel)]="to" optionLabel="code" placeholder="To">
            <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value"  *ngIf="to">
                    <img src="assets/flag_placeholder.png" [class]="'flag flag-' + to.code.toLowerCase()" />
                    <span>{{to.code}}</span>
                </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
                <div class="country-item">
                    <img src="assets/flag_placeholder.png" [class]="'flag flag-' + country.value.code.toLowerCase()" />
                    <span>{{country.value.code}}</span>
                </div>
            </ng-template>
          </p-dropdown>
        </div>
        <input type="text" id="to" class="form-control">
      </div>
    </div>
  </div>
</div>
